<div class="bootstrap-wrapper">
    <h1>Dashboard</h1>
    <div class="card">
        <div class="card-head">Lorem ipsum - dashboard</div>
        <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta obcaecati perferendis quae cupiditate cum, id incidunt fugit! Adipisci aliquid harum a, expedita numquam est! Dolorum ab laborum earum neque voluptate.</div>
    </div>
    <div class="container text-center mt"> 
        <h1>Welcome to Admin Panel !!!</h1>
        <button (click)="getUsers()" mat-raised-button>Get Details</button>
    </div>
    <div class="charts-container">
        <div class="chart-tile">
          <canvas baseChart
            [data]="roleChartData"
            [labels]="roleChartLabels"
            [type]="'pie'">
          </canvas>
        </div>
        <canvas baseChart [data]="currentLevelData" [labels]="currentLevelLabels" [type]="'pie'"
            (chartClick)="onChartClick($event)">
        </canvas>
        <!-- Add more chart tiles as needed -->
      </div>
   
</div>